:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --seconr-color: #f6eaea;
  --second-color: #101010;
  --bth-color: #2196f3;
  --main-color: #e5e5e5;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.header-nav .link.current,
.header-nav .link:active,
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header*/

.header {
  border-bottom: 1px solid #ECECEC
}

.header-container {
  display: flex;
  align-items: center;
}


.header-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-text-color);
}

.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.header-list {
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;

}

.header-list .header-item:not(:first-child) {
  margin-right: 0px;
  margin-left: 50px;
}

.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

}

.contacts-list {
  display: flex;
  column-gap: 50px;
  margin-left: auto;

}


.contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/*------- hero------------------*/

.hero {
  background: #2f303a;
  text-align: center;
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*---------button-----------*/

.hero-btn {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  color: var(--primary-white-color);
  background-color: var(--bth-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-text-color);
}

/*-----button-portfolio-----*/


.btn-list {
  font-family: 'Roboto';
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}



.button-portfolio:active,
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--bth-color);
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 4px;

}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.gallery-item {
  flex-basis: calc((100%-60px))/3;
  background: var(--primary-white-color);
  gap: 30px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.gallery-item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/*-----benefits-- */
.benefits {
  background-color: #F5F5F5;
}

.benefits-list {
  display: flex;
  margin: 0;

  
}


.benefits-item {
  width: 270px;
  

}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-titel {

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  
  color: var(--primary-text-color);
}

.benefits-item-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  
}
  
  /*---What we do--*/
  
  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 0;
   padding-bottom: 50px;
   
    color: var(--primary-text-color);
  }
  
  .what-we-do-list {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .what-we-do-item:not(:last-child) {
    margin-right: 30px;
  }
  
  /*---------Team----------*/
  .team {
    background: #f5f4fa;
  }
   
    
    .team-title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42/36);
      letter-spacing: 0.03em;
      text-align: center;
      margin-bottom: 50px;
      color: var(--primary-text-color);
    }
    
    .team-list {
      margin-bottom: 30px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    
    .team-name {
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19/16);
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
      margin-top: 0;
      color: var(--primary-text-color);
    }
    
    .team-border {
      padding: 30px 59px;
    }
    
    .team-item {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(19/16);
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-text-color);
    }
    
    .team-social {
      display: flex;
      column-gap: 30px;
      justify-content: center;
    }
    
    
    /*---------FOOTER----------*/
    
    .footer {
      background: #2F303A;
      padding: 60px;
    }
    
    .footer-logo {
      margin-bottom: 20px;
      display: inline-block;
    }
    
    .logo {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: calc(31/26);
      letter-spacing: 0.03em;
      color: #2196F3
    }
    
    .studio-logo {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: calc(31/26);
      letter-spacing: 0.03em;
      color: var(--primary-white-color)
    }
    
    .footer-addres {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(24/14);
      letter-spacing: 0.03em;
      padding: 0;
      margin: 0;
      color: var(--primary-white-color);
    }
    
    .footer-email,
    .footer-tel {
      font-family: 'Roboto';
      font-style: normal;
      display: block;
      font-size: 14px;
      line-height: calc(24/14);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
    
    .footer-contacks {
      margin-top: 20px;
    }
    
    
    .footer-item .list {
      margin-bottom: 9px;
    }
  
